<!DOCTYPE html>
<head>
  <title>Articles Player</title>
  <link rel="stylesheet" href="{{ style }}" />
  <script src="{{ script }}" defer></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
  <div
    class="simple-audio-player"
    id="simp"
    data-config='{"shide_top":false,"shide_btm":false,"auto_load":false}'
  >
    <div class="simp-playlist">
      <ul>
        {% for audio in audios %}
        <li>
          <span class="simp-source" data-src="{{ audio[1] }}"
            >{{ audio[0] }}</span
          >
          {% endfor %}
        </li>
      </ul>
    </div>
    <div class="simp-footer">
      <a
        href="https://ui.adsabs.harvard.edu"
        target="_blank"
        title="Astrophysics Data System"
        >Astrophysics Data System</a
      >
    </div>
  </div>
</body>
